/* lightbox.css */
.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-content {
  display: block;
  margin: 5% auto;
  width: 80%;
  max-width: 700px;
}

.lightbox-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.lightbox-close:hover {
  color: #bbb;
}

.gallery-img {
  cursor: pointer;
  transition: 0.3s;
}

.gallery-img:hover {
  opacity: 0.7;
}